<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.walkers.planes.fundhelper.dao.FundValueDao">

    <insert id="insertBatchWithoutIncreaseRate" parameterType="java.util.List">
        insert into fund_value (fund_id, value_date, value, create_date, update_date) values
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.fundId},#{item.valueDate},#{item.value},now(),now())
        </foreach>
    </insert>

    <!--  数据库连接需要支持批量操作: &allowMultiQueries=true  -->
    <update id="batchUpdateIncreaseRateById" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" open="" close="" separator=";">
            update fund_value set increase_rate=#{item.increaseRate} where id=#{item.id}
        </foreach>
    </update>
</mapper>