<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.walkers.planes.fundhelper.dao.VirtualUserDao">
    <insert id="insert" parameterType="io.walkers.planes.fundhelper.entity.model.VirtualUserModel" useGeneratedKeys="true" keyProperty="id">
        insert into virtual_user (account, password, create_date, update_date)
        values (#{virtualUser.account}, #{virtualUser.password}, now(), now())
    </insert>
</mapper>