<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.walkers.planes.fundhelper.dao.WebsiteNoticeDao">
    <insert id="insert" parameterType="io.walkers.planes.fundhelper.entity.model.WebsiteNoticeModel" useGeneratedKeys="true" keyProperty="id">
        insert into website_notice (virtual_user_id, title, content, read_status, create_date, update_date, active_date)
        values (#{websiteNotice.virtualUserId}, #{websiteNotice.title}, #{websiteNotice.content}, #{websiteNotice.readStatus}, now(), now(), #{websiteNotice.activeDate})
    </insert>
</mapper>